.classa {
  height: 64px;
  text-align: center;
  line-height: 64px;
}
.classb {
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.bilitop {
  width: 100%;
  height: 255px;
}
.bilitop .bilitop_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  position: absolute;
  z-index: 10;
}
.bilitop .bilitop_bar .left_entry {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 332px;
  height: 64px;
  list-style: none;
  font-size: 2px;
  font-weight: 600;
}
.bilitop .bilitop_bar .left_entry .home {
  width: 62px;
  height: 64px;
  text-align: center;
  line-height: 64px;
}
.bilitop .bilitop_bar .left_entry .drama {
  width: 38px;
  height: 64px;
  text-align: center;
  line-height: 64px;
}
.bilitop .bilitop_bar .left_entry .zb {
  width: 38px;
  height: 64px;
  text-align: center;
  line-height: 64px;
}
.bilitop .bilitop_bar .left_entry .game {
  width: 66px;
  height: 64px;
  text-align: center;
  line-height: 64px;
}
.bilitop .bilitop_bar .left_entry .vip {
  width: 52px;
  height: 64px;
  text-align: center;
  line-height: 64px;
}
.bilitop .bilitop_bar .left_entry .comic {
  width: 38px;
  height: 64px;
  text-align: center;
  line-height: 64px;
}
.bilitop .bilitop_bar .left_entry .competition {
  width: 38px;
  height: 64px;
  text-align: center;
  line-height: 64px;
}
.bilitop .bilitop_bar .left_entry .app {
  width: 75px;
  height: 64px;
  text-align: center;
  line-height: 64px;
}
.bilitop .bilitop_bar .left_entry a {
  color: #ffffff;
  text-decoration-line: none;
}
.bilitop .bilitop_bar .center_search {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.bilitop .bilitop_bar .center_search input {
  width: 60%;
  height: 50%;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #c4b1b1;
}
.bilitop .bilitop_bar .center_search #btn {
  width: 6%;
  height: 58%;
  background-color: #ffffff;
}
.bilitop .bilitop_bar .center_search .show {
  width: 175px;
  height: 300px;
  border: 1px solid #ccc;
  padding-left: 10px;
  display: none;
  align-self: flex-end;
}
.bilitop .bilitop_bar .center_search .show p {
  font-size: 12px;
}
.bilitop .bilitop_bar .right_entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 334px;
  height: 50px;
  list-style: none;
  font-size: 2px;
  font-weight: 600;
  margin-right: 20px;
}
.bilitop .bilitop_bar .right_entry .bb {
  width: 60px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.bilitop .bilitop_bar .right_entry .member {
  width: 52px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.bilitop .bilitop_bar .right_entry .message {
  width: 38px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.bilitop .bilitop_bar .right_entry .dynamic {
  width: 38px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.bilitop .bilitop_bar .right_entry .collect {
  width: 38px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.bilitop .bilitop_bar .right_entry .history {
  width: 38px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.bilitop .bilitop_bar .right_entry .produce {
  width: 66px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.bilitop .bilitop_bar .right_entry .contribute {
  width: 70px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.bilitop .bilitop_bar .right_entry a {
  color: #ffffff;
  text-decoration-line: none;
}
.bilitop .bilitop_banner {
  width: 100%;
  height: 155px;
  position: relative;
}
.bilitop .bilitop_channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}
.bilitop .bilitop_channel .channel_icons {
  display: flex;
  justify-content: space-between;
  width: 168px;
  height: 63px;
  margin-left: 80px;
  list-style: none;
}
.bilitop .bilitop_channel .channel_icons li {
  width: 40px;
  height: 63px;
  line-height: 63px;
}
.bilitop .bilitop_channel .channel_icons li a {
  color: #000000;
  text-decoration-line: none;
}
.bilitop .bilitop_channel .right_channel_container {
  display: flex;
  flex: 1;
  height: 66px;
}
.bilitop .bilitop_channel .right_channel_container .channel_items_left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 830px;
  height: 66px;
  list-style: none;
  margin-left: 60px;
}
.bilitop .bilitop_channel .right_channel_container .channel_items_left li {
  width: 70px;
  height: 28px;
  background-color: #b8b2f0;
  border-radius: 8px;
  text-align: center;
  line-height: 28px;
  font-size: 13px;
  font-weight: 500;
}
.bilitop .bilitop_channel .right_channel_container .channel_items_left li a {
  color: #3b3030;
  text-decoration-line: none;
}
.bilitop .bilitop_channel .right_channel_container .channel_items_right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 230px;
  height: 66px;
  list-style: none;
  margin-left: 60px;
}
.bilitop .bilitop_channel .right_channel_container .channel_items_right li {
  width: 70px;
  height: 28px;
  border-radius: 8px;
  text-align: center;
  line-height: 28px;
  font-size: 13px;
  font-weight: 500;
}
.bilitop .bilitop_channel .right_channel_container .channel_items_right a {
  color: #3b3030;
  text-decoration-line: none;
}
